{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="border: 1px solid #ccc!important;padding:14px;border-radius: 16px!important;">
{{ cj_bar|safe}}
</div>
<br />
<br />
<div style="border: 1px solid #ccc!important;padding:14px;border-radius: 16px!important;">
{{ cx_pie|safe}}
</div>
<br />
<br />
<div style="border: 1px solid #ccc!important;padding:14px;border-radius: 16px!important;">
{{wt_bar|safe}}
</div>
<br />
<br />
<div style="border: 1px solid #ccc!important;padding:14px;border-radius: 16px!important;">
{{bw_pie|safe}}
</div>
<br />
<br />
<div style="border: 1px solid #ccc!important;padding:14px;border-radius: 16px!important;">
{{nk_pie|safe}}
</div>
</tbody>
</table>
</body>
</html>
